<h2>Student List</h2>

If you want to get the specific student.. insert header first
<div class="form-group">
  <label for="Authentication">Header</label> <input type="text"
                                                    class="form-control" id="Authentication" required
                                                    name="Authentication" #inputHeader>
</div>


<ul class="students">
  <li *ngFor="let stud of students"
      [class.selected]="stud === selectedStduent"
      (click)=" pickStudent(inputHeader, stud.studId)">
      ID:<a>{{stud.studId}}</a>






      <br />







      <!--First Name: {{stud.firstName}} <br /> Last Name:{{stud.lastName}}-->

  </li>
</ul>

