<h2>Student List</h2>

If you want to get the specific student.. insert header first
<div class="form-group">
  <label for="Authentication">Header</label> <input type="text"
                                                    class="form-control" id="Authentication" required
                                                    name="Authentication" #inputHeader>
</div>


<ul>
  <li *ngFor="let stud of students"
      (click)=" pickStudent(inputHeader, stud.studId)">
     <h3>
       ID:<a>{{stud.studId}}</a>
       </h3>
  </li>
</ul>

